<div id="slider">
  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h3>About us</h3>
        <p>
          Rivendell Education Company was founded in 2009 by father and son team, Bobby and Davis Norment.  We are located
          in Bloomington, Minnesota with an affiliate location in the nation state of Singapore.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="flexslider">
          <ul class="slides">
            <%= content_tag :li, image_tag('office1.png') %>
            <%= content_tag :li, image_tag('office2.png') %>
            <%= content_tag :li, image_tag('office3.png') %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="info">
  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <h1>Our vision & mission</h1>
        <p>
          To reestablish the Bible as man's personal and cultural authority by developing and licensing
          Christian, higher education programs to local communities across the world.
        </p>
        <p>
          To reestablish the Bible as man's personal and cultural authority by developing and licensing
          Christian, higher education programs to local communities across the world.
        </p>
      </div>

      <div class="col-md-6">
        <h1>Our objectives</h1>
        <ol>
          <li>
            To bring higher education back under the intellectual and moral authority of the Bible.
          </li><br />
          <li>
            To get the biblical worldview message into the hands of as many people as possible.
          </li><br />
          <li>
            To be the world's leading biblical worldview education company and media resource company.
          </li><br />
          <li>
            To feed churches with the best resources to use in Sunday School classes, cell groups, and
            adult education gathering.
          </li>
        </ol>
      </div>

    </div>

    <div class="row stats">
      
    </div>

  </div>
</div>

