<div id="hero">

  <div class="container">

    <h1 class="hero-text animated fadeInDown">
      Make your first two years of college<br />
      the journey of your life
    </h1>

    <p class="sub-text animated fadeInDown">
      Equip yourself with foundations for your education,<br />
      your career, and your life.
    </p>

    <div class="cta animated fadeInDown">
      <%= link_to 'How it works', opportunities_how_it_works_path, class:'button-outline' %>
      <%= link_to 'Start a program', opportunities_how_it_works_path, class:'button' %>
    </div>


  </div>


</div>