<div id="showcase">
  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h3>Expand with us</h3>
        <p>Three models for bringing Rivendell to your community:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div class="project">
          <h3>Business model 1</h3>
          <%= content_tag :div, holder_tag('643x246', 'biz model 1 graphic'), class:'screen' %>
          <p class="description">
            We need 75-100 words on how business model 1 works.  That's a lot of words.
          </p>
        </div>

        <div class="project">
          <h3>Business model 2</h3>
          <%= content_tag :div, holder_tag('643x246', 'biz model 2 graphic'), class:'screen' %>
          <p class="description">
            We need 75-100 words on how business model 2 works.  That's a lot of words.
          </p>
        </div>

        <div class="project">
          <h3>Business model 3</h3>
          <%= content_tag :div, holder_tag('643x246', 'biz model 3 graphic'), class:'screen' %>
          <p class="description">
            We need 75-100 words on how business model 3 works.  That's a lot of words.
          </p>
        </div>

      </div>
    </div>

  </div>
</div>