<div class="error-box well">

  <%= content_tag :h2, @message, class:'text-warning font-thin text-center m-t-xl m-b-xl' %>

  <%= content_tag :p, link_to('OK', root_path, class:'btn btn-primary btn-lg'), class:'text-center' %>

</div>